*.o
RP2xxx/build*/
irmpalarm/Linux/irmpalarm
irmpconfig/Linux/irmpconfig
irmpconfig_gui/Linux/irmpconfig_gui
irmpconfig_gui/Linux/*.bin
irmpconfig_gui/Windows/*.dll
irmpstatusled/irmpstatusled
binaries_for_linux/
binaries_for_Windows/
*.tar.xz
*.zip
picoflash/picoflash
picoflash/*.bin
irmpconfig/Linux/test*
irmpemit/irmpemit
testergebnisse*/
test-suite/test_snd_rcv_all_loop3.sh
test-suite/test_snd_rcv_all_loop4.sh
test-suite/test_snd_rcv_all_loop5.sh
test-suite/test_snd_rcv_all_loop6.sh
irmpconfig/Linux/compare_testfiles.sh
irmpconfig2/*
test-suite/test-irmp/irmp-25kHz
test-suite/test-irmp/irsnd-25kHz
